Flask==2.2.5
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
Flask-cors
numpy==1.26.0
pydantic==2.4.0
pydantic-core==2.10.0
pydantic-settings==2.0.3
transformers==4.50.0
openai==1.51.0
python-dotenv==1.0.0
torch==2.0.1
sentence-transformers==2.2.2
scikit-learn==1.3.0
